@{
    ViewData["Title"] = "Menu";
}

<h1 class="h1">Naše menu</h1>

<section class="menu-section">
    <div class="menu-category">
        <h2>Pøedkrmy</h2>
        <div class="menu-item">
            <span class="item-name">Domácí hovìzí vývar s nudlemi</span>
            <span class="item-price">65 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Tatarák z lososa s toustem</span>
            <span class="item-price">145 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Grilovaný hermelín s brusinkami</span>
            <span class="item-price">95 Kè</span>
        </div>
    </div>

    <div class="menu-category">
        <h2>Hlavní chody</h2>
        <div class="menu-item">
            <span class="item-name">Svíèková na smetanì s knedlíky</span>
            <span class="item-price">195 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Vepøové koleno peèené na èerném pivu</span>
            <span class="item-price">245 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Grilovaný steak z lososa se zeleninou</span>
            <span class="item-price">285 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Kuøecí øízek s bramborovou kaší</span>
            <span class="item-price">175 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Hovìzí guáš s houskovým knedlíkem</span>
            <span class="item-price">185 Kè</span>
        </div>
    </div>

    <div class="menu-category">
        <h2>Dezerty</h2>
        <div class="menu-item">
            <span class="item-name">Domácí jableèný štrudl se zmrzlinou</span>
            <span class="item-price">85 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Èokoládový fondant</span>
            <span class="item-price">95 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Palaèinky s nutellou a ovocem</span>
            <span class="item-price">75 Kè</span>
        </div>
    </div>

    <div class="menu-category">
        <h2>Nápoje</h2>
        <div class="menu-item">
            <span class="item-name">Pilsner Urquell 0,5l</span>
            <span class="item-price">55 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Domácí limonáda 0,4l</span>
            <span class="item-price">45 Kè</span>
        </div>
        <div class="menu-item">
            <span class="item-name">Espresso</span>
            <span class="item-price">55 Kè</span>
        </div>
    </div>
</section>
